---
interface Props{
    title: string;
    coverImage: string;
    excerpt: string;
    slug: string;
}

const { title, coverImage, excerpt,slug }: Props = Astro.props;
---

<div>
    <h2>{title}</h2>
    <img src={coverImage} alt={title} />
    <p>{excerpt}</p>
    <a class="flex justify-end w-full" href={`/blog/${slug}`}>Read more</a>
</div>