---
import BlogCard from "./BlogCard.astro";

const allPosts = await Astro.glob('../content/blogs/*.md');
---

<div class="py-7 px-5 grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-x-[157px] lg:gap-y-8">
    <h2 class="font-gabriela text-[30px] italic">Insights<br>from within</h2>
{
        allPosts.map((post) => {
    return(
        
            
                <BlogCard 
                title={post.frontmatter.title} 
                coverImage={post.frontmatter.coverImage} 
                excerpt={post.frontmatter.excerpt} 
                slug={post.frontmatter.slug}
                category={post.frontmatter.category} />
            
    );
})
}

</div>
