---
import Swiper from 'swiper/bundle';

import "swiper/css";
import Testimonial from "./Testimonial.astro";
const allTestimonials = await Astro.glob("../content/testimonials/*.md");
---

<div class="swiper testimonials-swiper ">
  <div class="swiper-button-next relative right-[19px] top-[0px]"
    ><img src="/clients-slider-arrow.svg" alt="" /></div
  >

  <div class="swiper-wrapper">
    {
      allTestimonials.map((client) => (
        <Testimonial
          title={client.frontmatter.title}
          description={client.frontmatter.description}
          owner={client.frontmatter.owner}
          url={client.frontmatter.url}
          position={client.frontmatter.position}
          url_text={client.frontmatter.url_text}
        />
      ))
    }
  </div>
</div>

<style>

  .testimonials-swiper {
    padding-top: 20px !important;
  }
  .swiper-button-next{
    top:24px !important;
    right: 19px !important;
    left: unset !important;
    background-color: yellow !important;
  }
  .swiper-button-next::after{
    content: none  !important;
  }
</style>
<script src="../libs/simple-slider.js"></script>
  
